/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Bubbles', sans-serif;
    background-color: #FB88B4;
}

header {
    background-color: #B7C9F2;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #FFF;
}

nav a {
    color: #FFF;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

.marquee-section {
    background-color: #B7C9F2;
}

.marquee-container {
    padding: 10px;
}

.marquee {
    font-size: 20px;
    color: #FFF;
}

.hero-section {
    text-align: center;
    padding: 50px 0;
}

.hero-image {
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

h2 {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    color: #FFF;
}

footer{
    background-color: #f8f9fa;
    padding:20px 0;
    text-align: center;
}

footer p{
    color: #495057;
    font-size: 14px;
}